# Dependências (Ignora em qualquer pasta)
node_modules/

# Builds e Saídas
dist/
.angular/
frontend/.angular/
frontend/dist/
backend/dist/

# Configurações de ambiente (Segurança)
.env
.env.*

# Pastas de ferramentas e IDEs
.vercel/
.railway/
.vscode/
.idea/

# Logs e arquivos temporários
npm-debug.log*
.DS_Store
Thumbs.db